.git
.github
.idea
.vscode
assets
build
coverage
dist
node_modules
.dockerignore
.env
.env.local
**/env-inject.js
**/env-inject.example.js
.gitignore
.travis.yml
*.log
./*.md
Dockerfile*
Makefile
.next
